.shiny-text{
  background:linear-gradient(
    110deg,
    #38bdf8 35%,
    #ffffff 50%,
    #38bdf8 65%
  );
  background-size:250% auto;
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  color:transparent;
  animation:shine 8s linear infinite;
}

@keyframes shine{ 
  /* shine happens quickly */
   0%{ background-position:200% center; } 
   18%{ background-position:-200% center; } 
   /* pause for remaining time */ 
   100%{ background-position:-200% center; } }


.floating-cta::before{
  content:"";
  position:absolute;
  inset:0;
  left:-150%;
  width:50%;
  background:linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,.8),
    transparent
  );
  transform:skewX(-25deg);
  animation:shine-button 10s infinite;
}

@keyframes shine-button{
  0%{left:-150%;}
  15%{left:150%;}
  100%{left:150%;}
}
